






<!-- Main menu -->
<!--<ul ngbNav [(activeId)]="activeId" class="nav-tabs" style="border-bottom: 1px solid #212529;">-->
  <!--<li [ngbNavItem]="1">-->
    <!--<a ngbNavLink routerLink="/list">Overview</a>-->
  <!--</li>-->
  <!--<li [ngbNavItem]="2">-->
    <!--<a ngbNavLink routerLink="/detail/0">Detail</a>-->
  <!--</li>-->
<!--</ul>-->

<div class="content" role="main" style="display:flex;">
  <div class="row">
    <div class="col-2">

      <ul ngbNav [(activeId)]="activeId" class="flex-column">
        <li [ngbNavItem]="1">
          <a ngbNavLink routerLink="/">Semester overview</a>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink routerLink="/profile">My profile</a>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink routerLink="/buddy">Buddy requests</a>
        </li>
        <li [ngbNavItem]="4">
          <a ngbNavLink routerLink="/office-hours">Office hours</a>
        </li>
        <li [ngbNavItem]="5">
          <a ngbNavLink routerLink="/help">Offers & requests</a>
        </li>
        <li [ngbNavItem]="6">
          <a ngbNavLink routerLink="/events">Events list</a>
        </li>
        <!--<li [ngbNavItem]="2">-->
          <!--<a ngbNavLink routerLink="/detail/0">Event detail</a>-->
        <!--</li>-->
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>

    </div>
    <div class="col-10">

      <router-outlet></router-outlet>

    </div>
  </div>

  <!-- Footer -->
  <footer>
      Love Angular?
  </footer>

</div>
